.list-avatar-page {
  ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
  }
}

.refresher-content {
  height: auto;
}

ion-item{
  --background: #3880ff;
  --color: #fff;
}
ion-button{
  --background: #062f77;
}