<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'orders'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="list-avatar-page">
  <ion-refresher pullFactor="1.5" class="refresher-content ion-align-items-start" slot="fixed" (ionRefresh)="doRefresh($event)" >
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <app-ion-order-list-group [orderList]="needToDeliverOrderList" [itemGroupTitle]="'needToDeliver'"
                            [doneCount]="deliveredCount" [itemIsDetail]="true" [itemIsButton]="true"
                            (itemClicked)="showOrderDetail($event)" [canCancelOrder]="false" [showCount]="true">
  </app-ion-order-list-group>
  <app-ion-order-list-group [orderList]="needToPickUpOrderList" [itemGroupTitle]="'needToPickUp'"
                            [doneCount]="pickedUpCount" [itemIsDetail]="true" [itemIsButton]="true"
                            (itemClicked)="showOrderDetail($event)" [canCancelOrder]="true" [showCount]="true">
  </app-ion-order-list-group>

</ion-content>