<ion-app>
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>{{'actions'|translate}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list *ngFor="let item of navigate">
        <ion-menu-toggle auto-hide="true">
          <ion-item button  [routerLink]="item.url" routerDirection="root">
            <ion-icon [name]="item.icon" [src]="item.iconSrc" slot="start"></ion-icon>
            <ion-label>{{item.title| translate}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
