.nb-theme-cosmic nb-card-header { display: none !important; }

.login-container{
  width: auto;
}

@media only screen and (min-width: 500px)
{
  [class*="login-container"] {
    width: 400px;
  }
}
@media only screen and (max-width: 499px)
{
  [class*="login-container"] {
    width: 300px;
  }
}
