<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'newOrder'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<angular-yandex-map [onlyInstance]="true" (load)="onMapLoad($event)">
</angular-yandex-map>

<ion-content (click)="slidingItem.close()">

  <ion-list-header>{{'customer'|translate}}</ion-list-header>
  <ion-item lines="inset">
    <ion-label class="input-ion-item" position="floating"><p>{{'surname'|translate}}</p></ion-label>
    <ion-input [required]="true" [(ngModel)]="customer.surname" id="surname"></ion-input>
  </ion-item>
  <ion-item lines="inset">
    <ion-label class="input-ion-item" position="floating"><p>{{'name'|translate}}</p></ion-label>
    <ion-input [required]="true" [(ngModel)]="customer.name" id="name"></ion-input>
  </ion-item>
  <ion-item lines="inset">
    <ion-label class="input-ion-item" position="floating"><p>{{'patronymic'|translate}}</p></ion-label>
    <ion-input [required]="true" [(ngModel)]="customer.patronymic" id="patronymic"></ion-input>
  </ion-item>
  <ion-item lines="inset">
    <ion-label class="input-ion-item" position="floating"><p>{{'phoneNumber'|translate}}</p></ion-label>
    <ion-input type="tel" [required]="true" [(ngModel)]="customer.phoneNumber" id="phoneNumber"></ion-input>
  </ion-item>

  <ion-list-header>{{'details'|translate}}</ion-list-header>
  <ion-item lines="inset">
    <ion-label class="input-ion-item" position="floating"><p>{{'orderNumber'|translate}}</p></ion-label>
    <ion-input  readonly="true" [(ngModel)]="order.number"  id="orderNumber"></ion-input>
  </ion-item>
  <ion-item lines="inset">
    <ion-label class="input-ion-item" position="floating"><p>{{'orderPrice'|translate}}</p></ion-label>
    <ion-input  readonly="true" [(ngModel)]="order.totalPrice"  id="orderPrice"></ion-input>
  </ion-item>
  <ion-item lines="inset">
    <ion-label class="input-ion-item" position="floating"><p>{{'pickUpDate'|translate}}</p></ion-label>
    <ion-datetime [(ngModel)]="order.pickUpDate"  id="pickUpDate"></ion-datetime>
  </ion-item>
  <div class="autocomplete">
    <ion-item lines="inset">
      <ion-label position="floating"><p>{{'pickUpAddress'|translate}}</p></ion-label>
      <ion-input autocomplete="on" type="text" [(ngModel)]="pickUpAddress.displayAddress" id="pickUpAddress"
                 (ionChange)="searchYandexMap($event)" [debounce]="500"></ion-input>
    </ion-item>
    <ion-list>
      <ion-item *ngFor="let address of yandexSuggestAddressList" (click)="fillInput(address.value)">
        {{address.title}}
      </ion-item>
    </ion-list>
  </div>
  <ion-list-header>
    <ion-item-sliding #slidingItem>
      <ion-item class="item-no-padding" lines="none">
        <ion-label>{{'merchants'|translate}}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="addNewMerchant()" expandable>{{'add'|translate}}</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list-header>
  <div *ngFor="let merchant of merchantList; let i = index">
    <ion-item lines="inset">
      <ion-label class="input-ion-item" position="floating"><p>{{'merchantService'|translate}}</p></ion-label>
      <ion-select [(ngModel)]="merchant.merchantService" interface="action-sheet" id="merchantService"
                  (ionChange)="loadBasePrice(merchant)"
                  (ngModelChange)="recalculatePrice(merchant)">
        <ion-select-option *ngFor="let dict of merchantServiceOption" [value]="dict.value">{{dict.title}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="inset">
      <ion-label class="input-ion-item" position="floating"><p>{{'merchantType'|translate}}</p></ion-label>
      <ion-select [(ngModel)]="merchant.merchantType"  interface="action-sheet" id="merchantType"
                  (ionChange)="loadBasePrice(merchant)"
                  (ngModelChange)="recalculatePrice(merchant)">
        <ion-select-option *ngFor="let dict of merchantTypeOption" [value]="dict.value">{{dict.title}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="inset">
      <ion-label class="input-ion-item" position="floating"><p>{{'merchantMaterial'|translate}}</p></ion-label>
      <ion-select [(ngModel)]="merchant.merchantMaterial"  interface="action-sheet" id="merchantMaterial"
                  (ionChange)="loadBasePrice(merchant)"
                  (ngModelChange)="recalculatePrice(merchant)">
        <ion-select-option *ngFor="let dict of merchantMaterialOption" [value]="dict.value">{{dict.title}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="inset">
      <ion-label class="input-ion-item" position="floating"><p>{{'merchantMeasurement'|translate}}</p></ion-label>
      <ion-select [(ngModel)]="merchant.merchantMeasurement"  interface="action-sheet" id="merchantMeasurement"
                  (ionChange)="loadBasePrice(merchant)"
                  (ngModelChange)="recalculatePrice(merchant)">
        <ion-select-option *ngFor="let dict of merchantMeasurementOption" [value]="dict.value">{{dict.title}}</ion-select-option>
      </ion-select>
    </ion-item>
    <div *ngIf="merchant.merchantMeasurement == 'measurement2'">
      <ion-item lines="inset">
        <ion-label class="input-ion-item" position="floating"><p>{{'merchantWidth'|translate}}</p></ion-label>
        <ion-input type="number" [(ngModel)]="merchant.merchantWidth" id="merchantWidth"
                   (ngModelChange)="recalculatePrice(merchant)"></ion-input>
      </ion-item>
      <ion-item lines="inset">
        <ion-label class="input-ion-item" position="floating"><p>{{'merchantHeight'|translate}}</p></ion-label>
        <ion-input type="number" [(ngModel)]="merchant.merchantHeight" id="merchantHeight"
                   (ngModelChange)="recalculatePrice(merchant)"></ion-input>
      </ion-item>
    </div>
    <ion-item lines="inset">
      <ion-label class="input-ion-item" position="floating"><p>{{'merchantCount'|translate}}</p></ion-label>
      <ion-select [(ngModel)]="merchant.merchantCount"  interface="action-sheet" id="merchantCount"
                  (ngModelChange)="recalculatePrice(merchant)">
        <ion-select-option *ngFor="let dict of merchantCountOption" [value]="dict.value">{{dict.title}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="inset">
      <ion-label class="input-ion-item" position="floating"><p>{{'merchantExtraService'|translate}}</p></ion-label>
      <ion-select [(ngModel)]="merchant.merchantExtraService"  interface="action-sheet" id="merchantExtraService"
                  (ngModelChange)="recalculatePrice(merchant)">
        <ion-select-option *ngFor="let dict of merchantExtraServiceOption" [value]="dict.value">{{dict.title}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="inset">
      <ion-label class="input-ion-item" position="floating"><p>{{'sale'|translate}}</p></ion-label>
      <ion-select [(ngModel)]="merchant.merchantSale"  interface="action-sheet" id="merchantSale"
                  (ngModelChange)="recalculatePrice(merchant)">
        <ion-select-option *ngFor="let dict of merchantSaleOption" [value]="dict.value">{{dict.title}}</ion-select-option>
      </ion-select>
    </ion-item>
    <div *ngIf="merchantList.length>1">
      <ion-button expand="full" fill="outline" shape="round" (click)="deleteMerchant(i)">{{'deleteMerchant'|translate}}</ion-button>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-button expand="full" shape="round" (click)="saveOrder()">
    {{'save'|translate}}
  </ion-button>
</ion-footer>
