<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'map'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <angular-yandex-map [center]="myLocation" [zoom]="15"
                      [state]="{ controls: ['zoomControl'] }">
    <angular-yandex-multiroute [(referencePoints)]="item.referencePoints" *ngFor="let item of routeList"></angular-yandex-multiroute>
  </angular-yandex-map>
</ion-content>